p {font-family: arial;
   text-align: left;
}

h1 {color: #66ab4d;
    text-align: center;
    font-family: arial;
    font-size: 4.0em;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 50px 50px 50px 50px;
}

h2 {color: #99c460
    font-family: arial;
    font-size: 2.0em;
    padding-top: 20px;
    padding-bottom: 20px;
}