<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About - Big Bands</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" rel="stylesheet">
    <link rel="icon" href="static/images/logo.png">
</head>
<body>
    <ul>
        <li><a href={{ url_for('index') }}>Home</a></li>
        <li><a href={{ url_for('artists') }}>Artists</a></li>
        <li><a href={{ url_for('venues') }}>Venues</a></li>
        <li><a href={{ url_for('sets') }}>Sets</a></li>
        <li style="float:right"><a class="active" href={{ url_for('about') }}>About</a></li>
    </ul>

    <section class="jumbotron text-center" style="background: url(static/images/handsbackground.jpg)">
      <div class="container">
        <h1 class="jumbotron-heading" style="color: #31832D; font-weight: bold">About The Team</h1>
        <p class="lead text-muted" style="color: #31832D; font-weight: bold">Meet the team behind Big Bands!</p>
      </div>
    </section>



    <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading" style="color:#78b654">Varun Jaladi</h2>
          <p class="lead">
                <b>Bio:</b> Junior Economics Major. Kung Fu Kenny minor. I chose this atrocious color scheme. I'm sorry.
                <br><br><b>Major Responsibilities:</b> CSS, Navigation, Formatting, Javascript, Hosting
                <br><br><b>Stats:</b>
                <br>76 Commits
                <br>5 Issues</p>
        </div>
        <div class="col-md-5">
          <img class="img-circle img-center" src="static/images/varun.jpg" alt="Varun Jaladi">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading" style="color:#78b654">Justin Meunier</h2>
          <p class="lead">
                <b>Bio:</b> Senior Computational Biology major. I came here for the Radiohead page.
                <br><br><b>Major Responsibilities:</b> Issue tracking, Formatting, Javascript, Flask
                <br><br><b>Stats:</b>
                <br>35 Commits
                <br>27 Issues</p>
        </div>
        <div class="col-md-5">
          <img class="img-circle img-center" src="static/images/justin.png" alt="Justin Meunier">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading" style="color:#78b654">Romit Barua</h2>
          <p class="lead">
                <b>Bio:</b> Senior Finance Major and team's self-appointed motivational leader.
                <br><br><b>Major Responsibilities:</b> Details and Model pages, Formatting
                <br><br><b> Stats:</b>
                <br>38 Commits
                <br>0 Issues</p>
        </div>
        <div class="col-md-5">
          <img class="img-circle img-center" src="static/images/romit.jpg" alt="Romit Barua">
        </div>
      </div>

     <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading" style="color:#78b654">Ryan Xu</h2>
          <p class="lead">
                <b>Bio:</b> One Punch Man is on Netflix now. Watch it. Senior :( MIS major.
                <br><br><b>Major Responsibilities:</b> Details and Model pages, Navigation
                <br><br><b>Stats:</b>
                <br>23 Commits
                <br>2 Issues</p>
        </div>
        <div class="col-md-5">
          <img class="img-circle img-center" src="static/images/ryan.jpg" alt="Ryan Xu">
        </div>
      </div>

     <hr class="featurette-divider">

           <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading" style="color:#78b654">Tanner Mierl</h2>
          <p class="lead">
                <b>Bio:</b> I am a Business Finance Major at the McCombs School of Business at UT. I am also pursuing a Computer Science Certificate and a Minor in Mathematics.
                <br><br><b>Major Responsibilities:</b> Issue tracking, Formatting, Wiki page
                <br><br><b>Stats:</b>
                <br>47 Commits
                <br>9 Issues</p>
        </div>
        <div class="col-md-5">
          <img class="img-circle img-center" src="static/images/tanner.png" alt="Tanner Mierl">
        </div>
      </div>

     <hr class="featurette-divider">
	
	<h2> Overall Stats </h2>
	<p> Total # of commits: 242 <br>
		Total # of issues: 43 <br>
	</p>
	<br>
	
	<h2>Links</h2>
	<p>
	<a href="https://github.com/vcjaladi/vcjaladi.github.io">GitHub Repo</a><br>
	<a href="https://github.com/vcjaladi/vcjaladi.github.io/wiki">GitHub Wiki</a><br>
    <a href="https://github.com/vcjaladi/vcjaladi.github.io/issues">GitHub Issue Tracker</a><br>

	</p>
	<br>
	
	<h2>Tools</h2>
	<p> GitHub <br>
		Slack <br>
		Notepad++ <br>
        PyCharm <br>
        Photoshop <br>
        Bootstrap <br>
		Flask <br><br>
		<h2>Presentation Link:<h2><br>
		<a href="https://speakerdeck.com/tannerut/bigbands-presentation">BigBands Presentation</a><br>
	
	</p>
	<br><br>
	
</body>
</html>