<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artist - Denzel Curry</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
	<link rel="icon" href="static/images/logo.png">
</head>
<body>
	<ul>
		<li><a href="templates/index.html">Home</a></li>
		<li><a class="active" href="templates/artists.html">Artists</a></li>
		<li><a href="templates/venues.html">Venues</a></li>
		<li><a href="templates/sets.html">Sets</a></li>
		<li style="float:right"><a href="templates/about.html">About</a></li>
	</ul>

    <center><h2>Denzel Curry</h2></center>
    <center><img src="https://i.ytimg.com/vi/UpuJ9dgChio/maxresdefault.jpg"></center>
    <center><p>Denzel Rae Don Curry (born February 16, 1995) is an American rapper from Carol City, Florida. He released his debut full-length album, titled Nostalgic 64 on September 3, 2013. His second full-length album, titled Imperial, was released on March 9, 2016.

    <br>
    <br>
    <h2>Details:</h2>
    <br>
    # of Sets Played: 29
    <br>
    Most Recent Concert: SXSW 2017
    <br>
    Origin: Carol City, Florida, United States
    <br>
    Members: Denzel Rae Don Curry
    <br>
    Genre: Hip Hop, Trap, Cloud Rap
    <br>
    Sets Played:
    <br>
    <a href="templates/set-Denzel_Stubbs_2017">Denzel Curry SXSW 2017 - Stubb's BBQ</a>
    </p></center>
    
</body>
</html>