<!DOCTYPE html>
<html lang="en">
    <head>
      <link rel="stylesheet" type="text/css" href="static/css/styles.css">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" rel="stylesheet">
      <meta charset="UTF-8">
      <title>Big Bands Inc.</title>
	  <link rel="icon" href="static/images/logo.png">
    </head>
    <body>
    	<ul>
        	<li><a class="active" href="templates/index.html">Home</a></li>
        	<li><a href="templates/artists.html">Artists</a></li>
			<li><a href="templates/venues.html">Venues</a></li>
        	<li><a href="templates/sets.html">Sets</a></li>
            <li style="float:right"><a href="templates/about.html">About</a></li>
    	</ul>

    <div class="jumbotron" style="background: url(static/images/handsbackground.jpg)">
      <div class="container">
        <h1 style="color: #31832D; font-weight: bold">Big Bands</h1>
        <p style="color: #31832D; font-weight: bold">A source for information about the who, what, and where of music shows.</p>
        <p><a class="btn btn-primary btn-lg" href="templates/about.html" role="button" style="background-color: #78b654">Learn about the team &raquo;</a></p>
      </div>
    </div>

    <h1 style="color:#78b654">Featured artist: Kendrick Lamar</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2 style="text-align: left">Bio</h2>
          <p style="text-align:left">Kendrick Lamar Duckworth (born June 17, 1987) is an American hip hop recording artist and songwriter. Born and raised in Compton, California, he embarked on his musical career as a teenager under the stage name K-Dot, releasing a mixtape that garnered local attention and led to his signing with indie record label Top Dawg Entertainment (TDE). He began to gain recognition in 2010, after his first retail release, Overly Dedicated. The following year, Lamar independently released his first studio album, Section.80, which included his debut single, "HiiiPoWeR". By that time, he had amassed a large Internet following and collaborated with several artists in the hip hop industry, including The Game, Snoop Dogg and Busta Rhymes. (Wikipedia)</p>
          <p><a class="btn btn-secondary" href="templates/artist-Kendrick_Lamar.html" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2 style="text-align: left">Twitter Feed</h2>
          <p><a class="twitter-timeline" data-width="400" data-height="300" href="https://twitter.com/kendricklamar">Tweets by kendricklamar</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></p>
          <p><a class="btn btn-secondary" href="https://twitter.com/kendricklamar?lang=en" role="button">View artist's Twitter &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2 style="text-align: left">Recent Song (Explicit)</h2>
          <p><iframe width="400" height="300" src="https://www.youtube.com/embed/tvTRZJ-4EyI" frameborder="0" allowfullscreen></iframe></p>
          <p><a class="btn btn-secondary" href="https://www.youtube.com/channel/UCoYfzC2zMlc9M-Odgaf6OSg" role="button">View artist's VEVO &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Big Bands 2017</p>
      </footer>
    </div>
    </body>
</html>