<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set - Coldplay at T in the Park</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
	<link rel="icon" href="../images/logo.png">
</head>
<body>
	<ul>
		<li><a href="../index.html">Home</a></li>
		<li><a href="../artists.html">Artists</a></li>
		<li><a href="../venues.html">Venues</a></li>
		<li><a class="active" href="../sets.html">Sets</a></li>
		<li style="float:right"><a href="../about.html">About</a></li>
	</ul>

    <h2>Coldplay at T in the Park 2011</h2>
    <img src="http://www.bbc.co.uk/radioassets/live/events/866/music/festivals/tinthepark/2011/artists/coldplay/img/coldplay-big9.jpg">
	<h2>Details</h2>
    <p><b>Artist:</b> <a href="../artists/artist-Coldplay.html">Coldplay</a>
    <br>
	<br>
    <b>Venue:</b> <a href="../venues/venue-tinthepark.html">T in the Park</a>
    <br>
	<br>
    <b>Song List:</b><br> 1. Mylo Xyloto<br> 2. Hurts Like Heaven<br> 3. Yellow<br> 4. In My Place<br> 5. Major Minus<br> 6. Lost!<br> 7. The Scientist<br> 8. Shiver<br> 9. Violet Hill<br> 10. God Put a Smile Upon Your Face<br> 11. Everything's Not Lost<br> 12. Us Against the World<br> 13. Politik<br> 14. Viva la Vida<br> 15. Charlie Brown<br> 16. Life Is For Living<br> 17. Clocks<br> 18. Fix You<br> 19. Every Teardrop is a Waterfall<br>
    <br>
	<br>
    <b>Date:</b> 7/11/2011
    <br>
	<br>
    <iframe width ="420" height ="315" src="https://www.youtube.com/embed/kKJnzKiB1-o"></iframe>
    </p>
</body>
</html>