<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set - Radiohead at ACL</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
	<link rel="icon" href="static/images/logo.png">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" rel="stylesheet">
</head>
<body>
    <ul>
        <li><a href={{ url_for('index') }}>Home</a></li>
        <li><a href={{ url_for('artists') }}>Artists</a></li>
        <li><a href={{ url_for('venues') }}>Venues</a></li>
        <li><a class="active" href={{ url_for('sets') }}>Sets</a></li>
        <li style="float:right"><a href={{ url_for('about') }}>About</a></li>
    </ul>

	<center><h2 class="featurette-heading" style="color:#78b654">Radiohead at ACL 2016</h2>
    <img src="https://az616578.vo.msecnd.net/files/responsive/embedded/any/desktop/2016/05/13/635986957107030393568645979_radiohead1.jpeg">
    <hr class="featurette-divider">
      <div class="row featurette">
          <h2 class="featurette-heading" style="color:#78b654">Details</h2>
          <p class="lead">
			<b>Artist:</b> <a href={{ url_for('artist_radiohead') }}>Radiohead</a>
			<br>
			<br>
			<b>Venue:</b> <a href={{ url_for('venue_acl') }}>Austin City Limits</a>
			<br>
			<br>
			<b>Song List:</b><br> 1. Burn the Witch<br> 2. Daydreaming<br> 3. Ful Stop<br> 4. My Iron Lung<br> 5. The National Anthem<br> 6. All I Need<br> 7. Pyramid Song<br> 8. No Surprises<br> 9. Bloom<br> 10. Identikit<br> 11. The Numbers<br> 12. Bodysnatchers<br> 13. The Gloaming<br> 14. Weird Fishes/Arpeggi<br> 15. Nude<br> 16. Everything in Its Right Place<br> 17. Idioteque<br><br><b>Encore:</b><br> 18. Let Down<br> 19. Present Tense<br> 20. Reckoner<br> 21. Paranoid Android<br> 22. There There<br> 23. Fake Plastic Trees<br>
			<br>
			<b>Date:</b> 10/7/2016
			<br>
			<br>
			<iframe width ="420" height ="315" src="https://www.youtube.com/embed/eXca-dgCLvs"></iframe>
			</p>
      </div>

      <hr class="featurette-divider">  
	
    </center>	

</body>
</html>