<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set - Radiohead at MSG</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
	<link rel="icon" href="static/images/logo.png">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" rel="stylesheet">
</head>
<body>
    <ul>
        <li><a href={{ url_for('index') }}>Home</a></li>
        <li><a href={{ url_for('artists') }}>Artists</a></li>
        <li><a href={{ url_for('venues') }}>Venues</a></li>
        <li><a class="active" href={{ url_for('sets') }}>Sets</a></li>
        <li style="float:right"><a href={{ url_for('about') }}>About</a></li>
    </ul>
	
	<center><h2 class="featurette-heading" style="color:#78b654">Radiohead at MSG 2016</h2>
    <img src="http://www.billboard.com/files/styles/article_main_image/public/media/radiohead-july-27-2016-billboard-1548.jpg">
    <hr class="featurette-divider">
      <div class="row featurette">
          <h2 class="featurette-heading" style="color:#78b654">Details</h2>
          <p class="lead">
			<b>Artist:</b> <a href={{ url_for('artist_radiohead') }}>Radiohead</a>
			<br>
			<br>
			<b>Venue:</b> <a href={{ url_for('venue_msg') }}>Madison Square Garden</a>
			<br>
			<br>
			<b>Song List:</b><br> 1. Burn the Witch<br> 2. Daydreaming<br> 3. Decks Dark<br> 4. Desert Island Disk<br> 5. Ful Stop<br> 6. My Iron Lung<br> 7. Climbing Up the Walls<br> 8. Morning Mr. Magpie<br> 9. Pyramid Song<br> 10. Bloom<br> 11. Identikit<br> 12. The Numbers<br> 13. The Gloaming<br> 14. Weird Fishes/Arpeggi<br> 15. Everything in its Place<br> 16. Idioteque<br> 17. There There<br> 18. Give Up the Ghost<br> 19. Let Down<br> 20. Present Tense<br> 21. Planet Telex<br> 22. Karma Police<br> 23. Reckoner<br> 24. Creep<br>
			<br>
			<b>Date:</b> 7/27/2016
			<br>
			<br>
			<iframe width ="420" height ="315" src="https://www.youtube.com/embed/t94FTibEgYQ"></iframe>
			</p>
      </div>

      <hr class="featurette-divider">  
	
    </center>	
	
</body>
</html>