<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set - Anderson Paak at Staples</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
	<link rel="icon" href="static/images/logo.png">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" rel="stylesheet">	
</head>
<body>
    <ul>
        <li><a href={{ url_for('index') }}>Home</a></li>
        <li><a href={{ url_for('artists') }}>Artists</a></li>
        <li><a href={{ url_for('venues') }}>Venues</a></li>
        <li><a class="active" href={{ url_for('sets') }}>Sets</a></li>
        <li style="float:right"><a href={{ url_for('about') }}>About</a></li>
    </ul>

    <center><h2 class="featurette-heading" style="color:#78b654">Anderson Paak at Staples 2017</h2>
    <img src="http://media.gettyimages.com/photos/recording-artist-anderson-paak-attends-the-59th-grammy-awards-at-on-picture-id634975500">
    <hr class="featurette-divider">
      <div class="row featurette">
          <h2 class="featurette-heading" style="color:#78b654">Details</h2>
          <p class="lead">
			<b>Artist:</b> <a href={{ url_for('artist_anderson_paak') }}>Anderson Paak</a>
			<br>
			<br>
			<b>Venue:</b> <a href={{ url_for('venue_staples') }}>Staples</a>
			<br>
			<br>
			<b>Song List:</b><br> 1. Come Down<br> 2. Milk n' Honey<br> 3. Glowed Up<br> 4. The Season / Carry Me<br> 5. Put Me Thru<br> 6. Heart Don't Stand a Chance<br> 7. Room in Here<br> 8. The Waters<br> 9. Suede<br> 10. Link Up<br> 11. Lyk Dis<br> 12. Dang!<br> 13. Am I Wrong<br> 14. Lite Weight<br> 15. The Bird<br> 16. Silicon Valley<br> 17. Luh You<br><br><b>Encore:</b><br> 18. Miss Right<br> 19. The Dreamer<br>
			<br>
			<br>
			<b>Date:</b> 2/12/2017
			<br>
			<br>
			<iframe width ="420" height ="315" src="https://www.youtube.com/embed/2P-9DVSbiF4"></iframe>
			</p>
      </div>

      <hr class="featurette-divider">   
    
    </center>
    
</body>
</html>