<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Venue - ACL</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
	<link rel="icon" href="static/images/logo.png">
</head>
<body>
	<ul>
		<li><a href="templates/index.html">Home</a></li>
		<li><a href="templates/artists.html">Artists</a></li>
		<li><a class="active" href="templates/venues.html">Venues</a></li>
		<li><a href="templates/sets.html">Sets</a></li>
		<li style="float:right"><a href="templates/about.html">About</a></li>
	</ul>

    <center><h2>Austin City Limits</h2></center>
    <center><img src="http://cdn.abclocal.go.com/content/ktrk/images/cms/697367_1280x720.jpg"></center>
    <h3>About</h3>
    <center><p>The Austin City Limits (ACL) Music Festival is an annual music festival held in Zilker Park in Austin, Texas on two consecutive three-day weekends. Inspired by the PBS concert series of the same name, the festival is produced by Austin-based company C3 Presents, which also produces Lollapalooza.[1] The reputation of the ACL television show helped contribute to the success of the first festival.


    <br><br><b>Location:</b> Austin, Texas, United States of America
    <br><b>Capacity:</b> 450,800
    <br><b>Event Sponsor:</b> C3
    <br><b># of Sets Played:</b> 1,589
    <br>
    <h3>Sets That Been Have Played at ACL:</h3>
    <a href="templates/set-Kendrick_ACL_2016.html">Kendrick - 2016</a>
    <a href="templates/set-Coldplay_ACL_2011.html">Coldplay - 2011</a>
    <a href="templates/set-Radiohead_ACL_2016.html">Radiohead - 2016</a>

    
</body>
</html>