<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Venue - Staples Center</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
	<link rel="icon" href="static/images/logo.png">
</head>
<body>
	<ul>
		<li><a href="{{ url_for('index') }}">Home</a></li>
		<li><a href="{{ url_for('artists') }}">Artists</a></li>
		<li><a class="active" href="{{ url_for('venues') }}">Venues</a></li>
		<li><a href="{{ url_for('sets') }}">Sets</a></li>
		<li style="float:right"><a href="{{ url_for('about') }}">About</a></li>
	</ul>

    <center><h2>Staples Center</h2></center>
    <center><img src="http://a4.espncdn.com/combiner/i?img=%2Fphoto%2F2016%2F0322%2Fr66147_1296x729_16-9.jpg"></center>
    <h3>About</h3>
    <center><p>Staples Center is a multi-purpose sports arena in Downtown Los Angeles. Adjacent to the L.A. Live development, it is located next to the Los Angeles Convention Center complex along Figueroa Street. Opening on October 17, 1999, it is one of the major sporting facilities in the Greater Los Angeles Area.


    <br><br><b>Location:</b> Los Angeles, California, United States of America
    <br><b>Capacity:</b> 8,000
    <br><b>Event Sponsor:</b> Staples
    <br><b># of Sets Played:</b> 1,036
    <br>
    <h3>Sets That Been Have Played at ACL:</h3>
    <a href="{{ url_for('anderson_staples') }}">Anderson Paak - 2017</a>

    
</body>
</html>